{% extends 'theme.html' %}

{% block content %}


<h2 Align="center">Technology related Articles</h2>
<br>
<br>


<div class="container">
    <div class="row">

{% for article in articles %}
<div class="col-md-3">
<div class="card" style="width: 18rem;">
    <img src="{{article.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{article.Title}}</h5>
      <p class="card-text">{{article.Description}}</p>
      <a href="{{article.Link}}" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

{% endfor %}
</div>
</div>


{% endblock %}